<div class="home-container">
    <mat-toolbar color="primary">
        <app-tool-bar></app-tool-bar>
    </mat-toolbar>
    <mat-sidenav-container>
        <mat-sidenav #sidenav [mode]="over">
            Бла-бла-бла
        </mat-sidenav>
        <mat-sidenav-content>
            <perfect-scrollbar>
                <div class="content-container">
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                    <div class="component"></div>
                </div>
            </perfect-scrollbar>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>